<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Enable the httpPlatformHandler to proxy requests to our Streamlit app -->
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    
    <httpPlatform processPath="%HOME%\python.exe"
                  arguments="-m streamlit run %HOME%\site\wwwroot\streamlit_app.py --server.port %HTTP_PLATFORM_PORT% --server.address 0.0.0.0 --server.headless true --server.enableCORS false"
                  stdoutLogEnabled="true"
                  stdoutLogFile="%HOME%\LogFiles\stdout.log"
                  startupTimeLimit="60"
                  startupRetryCount="3">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="%HOME%\site\wwwroot" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>